// COLORS
$primary-color: #21728C;
$secondary-color: #2B6173;

$white-color: #0F5269;

$dark-grey: #59AECA;

$dark-blue-text: #7AB6CA; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
